body{
    background-color: rgba(216, 216, 216, 0.945);
}

h1{
    color: rgb(48, 134, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

h2{
    color: rgb(48, 134, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
}

h3{
    color: rgb(48, 134, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    background-color: rgb(31, 202, 145);
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: left;
    font-variant: normal;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-variant: normal;
}

/*Comentário CSS*/